.top-200{
    margin-top: 200px;
}

.top-15{
    margin-top: 15px;
}
#ajuda {
    width: 30%;
    height: 100%;
    background: #e6ebef;
    float: left;
    transition: 0.3s;
}
#jogos {
    width: 30%;
    height: 100%;
    background: #e6ebef;
    float: right;
    transition: 0.3s;
}
body, html {
    height: 100%;
    background: #e6ebef !important;
}

#imagem{
    margin-left: 10%;
    padding-top: 15%;
    position: fixed;

}

.text-center{
    text-align:center;
}

#app-title{
    font-size:5em;
}

#div-col2{
    margin-left: 10%;
}

.tile-image {
    height: 100px;
    margin: 31px 0 27px;
    vertical-align: bottom;
}


.tile-image.big-illustration {
    height: 111px;
    margin-top: 20px;
    width: 112px;
}

.tile {
    background-color: #eff0f2;
    padding: 14px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
}
.card-list{
    border: solid 1px #cccccc;
    border-radius: 10px;
    margin: 0 2.5px;
}

.pointer{
    cursor: pointer;
}

.text-wcenter{
    text-align: -webkit-center !important;
}

.btn-success{
    color: #ffffff !important;
    background-color: #46e2a7 !important;
    border-color: #46e2a7 !important;
}

.btn-info{
    color: #ffffff !important;
    background-color: #bbc5c1 !important;
    border-color: #bbc5c1 !important;
}
